<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Edit Student</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                            href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li><a class="parent-item" href="#">Student</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Edit Student</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="card-head">
                        <header>Basic Information</header>
                        <button id="panel-button"
                            class="mdl-button mdl-js-button mdl-button--icon pull-right"
                            data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            data-mdl-for="panel-button">
                           
                            <li class="mdl-menu__item"><i class="material-icons">print</i>Another action
                            </li>
                            <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else
                                here</li>
                        </ul>
                    </div>
                    <!--
                    <div class="card-body row">
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text" value=""
                                    id="txtFirstName">
                                <label class="mdl-textfield__label">UserName</label>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text" value="" id="txtRollNo">
                                <label class="mdl-textfield__label">Roll No</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="email" value=""
                                    id="txtemail">
                                <label class="mdl-textfield__label">Email</label>
                                <span class="mdl-textfield__error">Enter Valid Email Address!</span>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text" value=""
                                    id="date">
                                <label class="mdl-textfield__label">Registration Date</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                                <input class="mdl-textfield__input" type="text" id="list2" value=""
                                    readonly tabIndex="-1">
                                <label for="list2" class="pull-right margin-0">
                                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                                </label>
                                <label for="list2" class="mdl-textfield__label">Class</label>
                                <ul data-mdl-for="list2" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                    <li class="mdl-menu__item" data-val="DE">Engineer</li>
                                    <li class="mdl-menu__item" data-val="BY">Art</li>
                                    <li class="mdl-menu__item" data-val="BY">Digital Marketing</li>
                                    <li class="mdl-menu__item" data-val="BY">Music</li>
                                    <li class="mdl-menu__item" data-val="BY">Mechanical</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                                <input class="mdl-textfield__input" type="text" id="sample2" value=""
                                    readonly tabIndex="-1">
                                <label for="sample2" class="pull-right margin-0">
                                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                                </label>
                                <label for="sample2" class="mdl-textfield__label">Gender</label>
                                <ul data-mdl-for="sample2"
                                    class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                    <li class="mdl-menu__item" data-val="DE">Male</li>
                                    <li class="mdl-menu__item" data-val="BY">Female</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text" value=""
                                    pattern="-?[0-9]*(\.[0-9]+)?" id="text5">
                                <label class="mdl-textfield__label" for="text5">Mobile Number</label>
                                <span class="mdl-textfield__error">Number required!</span>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text" value=""
                                    id="txtParentName">
                                <label class="mdl-textfield__label">Parents Name</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text" value=""
                                    pattern="-?[0-9]*(\.[0-9]+)?" id="txtPNo">
                                <label class="mdl-textfield__label" for="txtPNo">Parents Mobile
                                    Number</label>
                                <span class="mdl-textfield__error">Number required!</span>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text" value=""
                                    id="dateOfBirth">
                                <label class="mdl-textfield__label">Birth Date</label>
                            </div>
                        </div>
                       
                        <div class="col-lg-12 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield txt-full-width">
                                <input class="mdl-textfield__input" type="text" value=""
                                    id="text7">
                                <label class="mdl-textfield__label" for="text7">Address</label>
                            </div>
                        </div>
                        
                       
                           
                            <div class="col-md-12">
                                <div id="id_dropzone" class="dropzone"></div>
                            
                        </div>
                        <div class="col-lg-12 p-t-20 text-center">
                            <button type="button"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary">Submit</button>
                            <button type="button"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-danger">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div class="card-body" id="bar-parent">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="form_sample_1" class="form-horizontal">
        <div class="form-body">
            <div class="form-group row">
                <label class="control-label col-md-3">Name
                    <span class="required"> * </span>
                </label>
                <div class="col-md-5">
                    <input type="text"  name="Name" ngModel #Name="ngModel"  [(ngModel)]="studresult.Name" data-required="1"
                        placeholder="enter  Name"
                        class="form-control input-height" />
                </div>
            </div>
           
            <div class="form-group row">
                <label class="control-label col-md-3">Departments
                    <span class="required"> * </span>
                </label>
                <div class="col-md-5">
                    <select class="form-select input-height"  name="Departement" ngModel  #Departement="ngModel"  [(ngModel)]="studresult.Departement">
                        <option value="">Select...</option>
                        <option value="Computer">Computer</option>
                        <option value="Mechanical">Mechanical</option>
                        <option value="Mathematics">Mathematics</option>
                        <option value="Commerce">Commerce</option>
                        <option value="Music">Music</option>
                        <option value="Science">Science</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">Mobile
                    <span class="required"> * </span>
                </label>
                <div class="col-md-5">
                    <input  name="Mobile" ngModel   #Mobile="ngModel"   [(ngModel)]="studresult.Mobile" type="text" placeholder="mobile number"
                        class="form-control input-height" /> </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">email
                </label>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input  name="email" ngModel  #email="ngModel"  [(ngModel)]="studresult.email"  type="text" class="form-control input-height"
                            name="email" placeholder="Email Address"> </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">Admission Date
                    <span class="required"> * </span>
                </label>
                <div class="col-md-5">
                    <div class="input-append date">
                        <div id="dateIcon" class="input-group datePicker">
                            <input    name="AdmissionDate" ngModel #AdmissionDate="ngModel"  [(ngModel)]="studresult.AdmissionDate"class="formDatePicker form-control" type="text"
                                placeholder="Select Date.." data-input>
                            <span class="dateBtn">
                                <a class="input-button" title="toggle" data-toggle>
                                    <i class="icon-calendar"></i>
                                </a>
                                <a class="input-button" title="clear" data-clear>
                                    <i class="icon-close"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="offset-md-3 col-md-9">
                        <button type="submit"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary">
                            Submit</button>
                        
                    </div>
                </div>
            </div>
            </div>
    </form>
</div>
           