<div class="page-content-wrapper">
  <div class="page-content">
    <div class="page-bar">
      <div class="page-title-breadcrumb">
        <div class=" pull-left">
          <div class="page-title">All Students List</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
          <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
              href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
          </li>
          <li><a class="parent-item" href="#">Students</a>&nbsp;<i class="fa fa-angle-right"></i>
          </li>
          <li class="active">All Students List</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-line">
          <ul class="nav customtab nav-tabs" role="tablist">
           
            
          </ul>
          <div class="tab-content">
            <div class="tab-pane active fontawesome-demo" id="tab1">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-box">
                    <div class="card-head">
                      <header>All Students List</header>
                      <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh"
                          href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down"
                          href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times"
                          href="javascript:;"></a>
                      </div>
                    </div>
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-6">
                          <div class="btn-group">
                            <a href="/admin/addstudent" id="addRow"
                              class="btn btn-primary">
                              Add New <i class="fa fa-plus"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                      <table
                        class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                        id="example4">
                        <thead>
                          
                            
                         
                            <th> Name </th>
                            <th> Department </th>
                            <th> Mobile </th>
                            <th> Email </th>
                            <th>Admission Date</th>
                            <th> Action </th>
                          
                        </thead>
                        <tbody *ngFor="let student of allstudents">

                       
                            <tr class="odd gradeX">
                         
                              <td>{{student.Name}} </td>
                              <td class="left">{{student.Departement}} </td>
                              <td><a href="tel:4444565756">
                                {{student.Mobile}}  </a></td>
                              <td><a href="mailto:hanin@gmail.com">
                                {{student.email}} </a></td>
                              <td class="left">{{student.AdmissionDate}} </td>
                              <td>
                                <a  (click)="FunctionEdite(student._id)"class="tblEditBtn">
                                  <i class="fa fa-pencil"></i>
                                </a>
                                <a  (click)="FunctionDelete(student._id)" class="tblDelBtn">
                                  <i class="fa fa-trash-o"></i>
                                </a>
                              </td>
                            </tr>
                        
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>